{% extends "layout.html" %}

{% block jumbo %}
<h1 class="display-3">Ajouter un artiste</h1>
{% endblock %}

{% block content %}

{% if added %}
<div class="alert alert-primary" role="alert">
    Artist "{{ name }}" ajouté !
</div>
{% endif %}

{% if error != False %}
<div class="alert alert-danger" role="alert">
    L'artiste "{{ name }}" artiste existe déjà.
</div>
{% endif %}


<form method="post" action="/artists/create">
  <div class="form-group">
    <label for="name">Artiste</label>
    <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp">
    <small id="nameHelp" class="form-text text-muted">Le nom de l'artiste.</small>
  </div>

  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>

<script>
$(document).ready(function() {
    $('#name').focus();
});
</script>
{% endblock %}
