<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Concerts seen by</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bandsaw.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Bandsaw Project</a>
    </nav>

    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <img class="rounded-circle float-left profile-picture" src="https://i.imgur.com/19GhSpO.jpg" alt="Profile Picture" width="140" height="140">

          <h1 class="display-3">Maxime Daniel</h1>
          <p>
            Maxime a participé à <strong>{{ stats['events'] }}</strong> évenements et
            a vu <strong>{{ stats['artists'] }}</strong> artistes.
            <br>
            [Coming soon]
          </p>
        </div>
      </div>

      <div class="container">
          <h2 class="date-separator">2018</h2>

          {% for event in evlist %}
          <h1>
              {{ event['name'] }}
              <small class="small-text text-info">{{ event['type'] }}, {{ event['location'] }}</small>
          </h1>

          <table class="table table-hover">
            {% for show in event['shows'] %}
            <tr>
                <td class="show-table-artist">
                {{ show['artist'] }}
                {% if show['type'] %}
                <code>[{{ show['type'] }}]</code>
                {% endif %}
                </td>

                <td class="show-table-stage">
                {{ show['location'] }}
                </td>

                <td class="show-table-time">
                {{ show['start'] }} - {{ show['end'] }}
                </td>
            </tr>
            {% endfor %}
          </table>

          {% endfor %}

          <hr>
      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>Made with Love</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
  </body>
</html>

